certifi==2024.7.4
charset-normalizer==3.3.2
cx_Freeze==7.2.0
cx_Logging==3.2.0
idna==3.7
lief==0.14.1
numpy==2.0.1
opencv-python==4.10.0.84
pyTelegramBotAPI==4.21.0
requests==2.32.3
telebot==0.0.5
urllib3==2.2.2
